:root,
[data-bs-theme="light"] {
  --bs-primary: #7550fe;
  --bs-primary-rgb: 117, 80, 254;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.btn-success {
  --bs-btn-bg: #1acb98;
  --bs-btn-border-color: #1acb98;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: rgb(24, 173, 131);
  --bs-btn-focus-shadow-rgb: 14, 107, 81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(37, 133, 88);
  --bs-btn-active-border-color: rgb(34, 102, 70);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #1acb98;
  --bs-btn-disabled-border-color: #1acb98;
}

.hero-icon-wrapper {
  background: #ffeeda;
  color: #ca8b44;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
