:root,
[data-bs-theme="light"] {
  --bs-primary-rgb: 117, 80, 254;
  --bs-light-rgb: 245, 244, 248;
  --bs-navbar-toggler-padding-x: 0.25rem;
  --bs-success-rgb: 123, 199, 153;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.fs-6 {
  font-size: 0.9rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.navbar-toggler {
  color: var(--bs-navbar-color);
}

.btn-success {
  --bs-btn-bg: #1acb98;
  --bs-btn-border-color: #1acb98;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: rgb(24, 173, 131);
  --bs-btn-focus-shadow-rgb: 14, 107, 81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(37, 133, 88);
  --bs-btn-active-border-color: rgb(34, 102, 70);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #1acb98;
  --bs-btn-disabled-border-color: #1acb98;
}

.btn-group-lg > .btn,
.btn-lg {
  --bs-btn-padding-y: 0.8rem;
  --bs-btn-padding-x: 1.25rem;
  --bs-border-radius-lg: 0.3rem;
  --bs-btn-font-size: 0.8rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.hero-icon-wrapper {
  background: #ffeeda;
  color: #ca8b44;
}

.nav-avatar {
  width: 2em;
  height: 2em;
}

.top-90 {
  top: 90% !important;
}

.start-90 {
  left: 90% !important;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-xs {
  width: 0.8rem;
  height: 0.8rem;
}

.icon-sm {
  width: 1rem;
  height: 1rem;
}

.card-avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #fff;
}

@media (min-width: 576px) {
  .carousel-control-next {
    justify-content: end;
    right: -1.25rem;
  }

  .carousel-control-prev {
    justify-content: start;
    left: -1.25rem;
  }
}

@media (min-width: 768px) {
  .carousel-control-next {
    justify-content: end;
    right: -2.75rem;
  }

  .carousel-control-prev {
    justify-content: start;
    left: -2.75rem;
  }
}
